@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';


@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}


body {
    background-color: variaveis.$cordeFundo;
}


@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: variaveis.$CorText01;
}

@mixin title($fontsize: 28px) {
    @include text($fontsize);
    color: variaveis.$corText02;
}

.text--big {
    @include text(18px);
    @media (max-width: 768px) {
        @include text(15px);       
       }
}

.text {
    @include text;
    @media (max-width: 768px) {
        @include text(14px);       
       }
}

.text--small {
    @include text(12px);
    @media (max-width: 768px) {
        @include text(11px);       
       }
}

.title--big {
    @include title(44px);
    @media (max-width: 768px) {
        @include title(26px);       
       }
}

.title {
    @include title;
    @media (max-width: 768px) {
     @include title(24px);       
    }
}

.title--small {
    @include title(28px);
    @media (max-width: 768px) {
        @include title(22px);       
       }
}

.link-text {
    @include text(18px);
    color: variaveis.$corText02;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corText02;
    background-color: variaveis.$corButton01;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corButton01;

    &:hover {
        background-color: lighten(variaveis.$corButton01, 5%);
    }

    &--secondary {
    background-color: variaveis.$corButton02;
    border-color: variaveis.$corButton02;

    &:hover {
        background-color: lighten(variaveis.$corButton02, 5%);
    }
    }

    &--dark {
        background-color: rgba(variaveis.$corButton03, .8);
        border-color: variaveis.$corText02;

        &:hover {
            background-color: variaveis.$corButton02;
            color: variaveis.$cordeFundo;
        }
    }
}

.img-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
     display: block;       
    }
    
    .img__container {
        position: relative;

        img {
            max-width: 100%;
            overflow: hidden;
    
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20%;
            background: linear-gradient(to bottom, transparent, rgba(variaveis.$cordeFundo, 1) 100%,rgba(variaveis.$cordeFundo, 1) 0%);
        }
    }

    
    &__text_container {
        padding: 02vw;
        
        h2 {
            margin-bottom: 24px;
        }
    }

    &--img-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
            
        }

        .limiter{
            overflow: hidden;
            display: grid;
            max-height: 200px;
            height: 100%;
            

            &__text_container {
                position: absolute;
                top: 100px;
                left: 50%;
                height: 82%;
                width: calc(50% - 5.6vw);
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(variaveis.$cordeFundo, 40%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                overflow: hidden;

                p {
                    padding-bottom: 8px;
                }
                
        }


            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}