.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5vw;
}

.title {
    font-size: 38px;
    margin-bottom: 26px;
}

.list {
    list-style: none;
}

.list__item {
    padding-bottom: 16px;
}

.list__item__input {
    font-size: 20px;
    text-align: center;
}